<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { clockStyle } from '../config/theme';
  import { onDestroy } from 'svelte';

  let time;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = {
      full: format(value.now, 'HH:mm:'),
      second1: format(value.now, 'ss')[0],
      second2: format(value.now, 'ss')[1],
    };
  });

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  let classSec1 = '';
  let classSec2 = '';

  setInterval(async function() {
    classSec2 = '';
    classSec1 = '';

    await sleep(100);
    await sleep(800);
    classSec2 = 'move';
    await sleep(100);
    await sleep(9100);
    classSec1 = 'move';

    // console.log('ticked');
  }, 1000);

  // async function demo() {
  //   console.log('Taking a break...');
  //   await sleep(2000);
  //   console.log('Two seconds later, showing sleep in a loop...');

  //   // Sleep in loop
  //   for (let i = 0; i < 5; i++) {
  //     if (i === 3) await sleep(2000);
  //     console.log(i);
  //   }
  // }

  // demo();

  onDestroy(unsubscribePrayers);
</script>

<style>
  .out {
    width: 100%;
    height: 24vh;
    background: black;
    z-index: 3;
  }
  .midline {
    position: absolute;
    height: 2vh;
    margin-top: 1vh;
    width: 100%;
    /* background: blue; */
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));

    z-index: 5;
  }
  #clock-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* height: 20%; */
    /* height: 15vh; */

    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 32vh;
    /* border-top: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25); */
  }
  .clock {
    position: relative;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;

    /* height: 100%; */
    height: 32vh;
    z-index: 0;
  }
  .clock span {
    line-height: 28vh;
    padding-bottom: 2vh;
  }
  .clock::before,
  .clock::after {
    content: '';
    width: 10ch;
    height: 3vh;
    /* background: blue; */
    /* background: linear-gradient(to bottom, transparent, black); */
    position: absolute;
    z-index: 2;
  }
  .clock::before {
    top: 0;
    background: linear-gradient(to top, transparent, black);
    /* background: blue; */
  }
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
    /* background: blue; */
  }
  .move {
    animation: move linear 0.2s infinite;
  }
  .move-sec1 {
    animation: move linear 10s infinite;
  }
  @keyframes move {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-26vh);
    }
  }
</style>

<section id="clock-wrapper" style={clockStyle}>
  <div class="midline" />
  <div class="out" />
  <div class="clock">
    <span>{time.full}</span>
    <span class={classSec1}>{time.second1}</span>
    <span class={classSec2}>{time.second2}</span>
  </div>
  <div class="out" />

  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
