<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { backgroundColor, clockStyle, logoStyle } from '../config/theme';
  import { onDestroy } from 'svelte';
  import { hijriDate, prependZero } from '../helpers/func';
  import { slide, fade } from 'svelte/transition'; //fly
  import cssVars from 'svelte-css-vars';
  import Seconds from './Seconds.svelte';

  let some_state_variable = true;

  $: styleVars = {
    backgroundColor,
  };

  // $: time;
  let time;
  // console.log(time);

  let separatorVisible;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    // console.log(value);
    time = {
      full: value.trueNow,
      digit: {
        1: { value: prependZero(value ? value.trueNow.getHours() : '00')[0], visible: true },
        2: { value: prependZero(value ? value.trueNow.getHours() : '00')[1], visible: true },
        3: { value: prependZero(value ? value.trueNow.getMinutes() : '00')[0], visible: true },
        4: { value: prependZero(value ? value.trueNow.getMinutes() : '00')[1], visible: true },
        5: { value: prependZero(value ? value.trueNow.getSeconds() : '00')[0], visible: true },
        6: { value: prependZero(value ? value.trueNow.getSeconds() : '00')[1], visible: true },
      },
    };
    separatorVisible = true;
  });

  function timeout(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  time.digit[1].visible = false;
  time.digit[2].visible = false;
  time.digit[3].visible = false;
  time.digit[4].visible = false;
  time.digit[5].visible = false;
  time.digit[6].visible = false;
  separatorVisible = false;

  onMount(async () => {
    await timeout(1000);
    separatorVisible = true;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  .out {
    width: 100%;
    height: 2vh;
    background: var(--backgroundColor);
    z-index: 3;
  }

  #clock-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    z-index: 0;
    /* font-family: 'Ubuntu Mono'; */
    font-size: 64vh;
    font-weight: 900;
    /* background: green; */
  }
  .clock span.digit {
    display: inline-block;
    line-height: 60vh;
    vertical-align: middle;
    padding-bottom: 4vh;
    transform: scale(1, 1.25);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 11%,
      #fff 16%,
      #fff 47%,
      rgba(175, 175, 175, 1) 50%,
      #fff 50%,
      #fff 84%,
      rgba(0, 0, 0, 1) 89%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .placeholder {
    position: relative;
    width: 22vw;
    height: 64vh;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0.1vh solid #fff; */
  }
  /* .placeholder::before {
    content: '';
    position: absolute;
    height: 2vh;
    margin-top: 1vh;
    width: 90%;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
    z-index: 15;
  } */
  .clock .placeholder-hidden {
    display: none;
  }
  .clock::before,
  .clock::after {
    content: '';
    width: 10ch;
    height: 4vh;
    position: absolute;
    z-index: 2;
  }
  /* .clock::before {
    top: 0;
    background: linear-gradient(to top, transparent, var(--backgroundColor));
  }
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--backgroundColor));
  } */
  .separator {
    display: block;
    width: 16vh;
    font-size: 56vh;
    margin-bottom: 8vh;
    color: #9b4c3c;
  }
  .seconds {
    /* background: rgba(255, 102, 0, 0.3); */
    position: absolute;
    z-index: 15;
    width: 100%;
    height: calc(100% - 26vh);
    top: 0;
    margin-top: 12vh;
  }
</style>

<section id="clock-wrapper" style={clockStyle} use:cssVars={styleVars}>
  <div class="seconds">
    <Seconds />
  </div>
  <div class="out" />
  <div class="clock">
    <!-- <div class="midline" /> -->
    <!-- hours 1 -->
    <div class="placeholder">
      {#if time.digit[1].visible}
        <span
          class="digit"
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {}}>
          {time.digit[1].value}
        </span>
      {/if}
    </div>
    <!-- hours 2 -->
    <div class="placeholder">
      {#if time.digit[2].visible}
        <span
          class="digit"
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {}}>
          {time.digit[2].value}
        </span>
      {/if}
    </div>
    <div class="separator">
      {#if separatorVisible}
        <span
          in:fade={{ duration: 150, delay: 0 }}
          out:fade={{ duration: 150, delay: 250 }}
          on:introend={async () => {
            separatorVisible = false;
          }}>
          :
        </span>
      {/if}
    </div>
    <!-- minutes 1 -->
    <div class="placeholder">
      {#if time.digit[3].visible}
        <span
          class="digit"
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {}}>
          {time.digit[3].value}
        </span>
      {/if}
    </div>
    <!-- minutes 2 -->
    <div class="placeholder">
      {#if time.digit[4].visible}
        <span
          class="digit"
          on:introstart={async () => {
            await timeout(500);
            console.log('111');
          }}
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {}}>
          {time.digit[4].value}
        </span>
      {/if}
    </div>
    <!-- {#if separatorVisible}
      <span class="separator">:</span>
    {/if} -->
    <!-- seconds 1 -->
    <div class="placeholder-hidden">
      {#if time.digit[5].visible}
        <span
          class="digit"
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {}}>
          <!-- {time.digit[5].value} -->
        </span>
      {/if}
    </div>
    <!-- seconds 2 -->
    <div class="placeholder-hidden">
      {#if time.digit[6].visible}
        <span
          class="digit"
          in:slide={{ duration: 150, delay: 0 }}
          out:slide={{ duration: 150, delay: 700 }}
          on:introend={async () => {
            time.digit[6].visible = false;
            time.digit[5].visible = time.digit[6].value == '9' ? false : true;
            time.digit[4].visible = time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[3].visible = time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[2].visible = time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[1].visible = (time.digit[2].value == '9' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') || (time.digit[1].value == '2' && time.digit[2].value == '3' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') ? false : true;
          }}>
          <!-- {time.digit[6].value} -->
        </span>
      {/if}
    </div>

  </div>
  <div class="out" />
  <!-- {time.full} -->
  <!-- {time.full} || {time.full.getHours()} {time.full.getMinutes()} || {time.digit[0].value} -->
</section>

<!-- 6th digit: -->
<!-- on:introend={async () => {
  await timeout(100);
  time.digit[6].visible = false;
  time.digit[5].visible = time.digit[6].value == '9' ? false : true;
  time.digit[4].visible = time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[3].visible = time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[2].visible = time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[1].visible = (time.digit[2].value == '9' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') || (time.digit[1].value == '2' && time.digit[2].value == '3' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') ? false : true;
}} -->

<!-- other digits -->
<!-- on:introend={async () => {
  await timeout(100);
}} -->
