<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { backgroundColor, clockStyle, logoStyle } from '../config/theme';
  import { onDestroy } from 'svelte';
  import { hijriDate } from '../helpers/func';
  import { slide } from 'svelte/transition'; //fly
  import cssVars from 'svelte-css-vars';

  let some_state_variable = true;

  $: styleVars = {
    backgroundColor,
  };

  let time;
  let date;
  let hijri;
  let seconds;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = {
      full: format(value.now, 'HH:mm:'),
      digit: {
        1: { value: format(value.now, 'HH')[0], visible: true },
        2: { value: format(value.now, 'HH')[1], visible: true },
        3: { value: format(value.now, 'mm')[0], visible: true },
        4: { value: format(value.now, 'mm')[1], visible: true },
        5: { value: format(value.now, 'ss')[0], visible: true },
        6: { value: format(value.now, 'ss')[1], visible: true },
      },
      second1: format(value.now, 'ss')[0],
      second2: format(value.now, 'ss')[1],
    };
    date = format(value.now, 'EEE d MMMM yyyy');
    hijri = hijriDate(value.hijri);
    seconds = format(value.now, 'ss')[1];
  });

  function timeout(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  time.digit[1].visible = false;
  time.digit[2].visible = false;
  time.digit[3].visible = false;
  time.digit[4].visible = false;
  time.digit[5].visible = false;
  time.digit[6].visible = false;

  let separatorVisible = false;

  onMount(async () => {
    await timeout(1000);
    separatorVisible = true;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  .out {
    width: 100%;
    height: 12vh;
    background: var(--backgroundColor);
    z-index: 3;
  }
  .midline {
    position: absolute;
    height: 2vh;
    margin-top: 1vh;
    width: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));

    z-index: 5;
  }
  #clock-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
    z-index: 0;
    font-size: 40vh;
    font-weight: 900;
  }
  .clock span {
    display: inline-block;
    line-height: 32vh;
    vertical-align: middle;
    padding-bottom: 2vh;
    /* transform: scale(1, 1.25); */
  }
  .clock .placeholder {
    width: 13vw;
    height: 64vh;
    /* background: blue; */
  }
  .clock::before,
  .clock::after {
    content: '';
    width: 10ch;
    height: 3vh;
    position: absolute;
    z-index: 2;
  }
  .clock::before {
    top: 0;
    background: linear-gradient(to top, transparent, var(--backgroundColor));
    /* background: var(--backgroundColor); */
  }
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--backgroundColor));
  }
  .separator {
    display: block;
    font-size: 32vh;
    margin-bottom: 2vh;
    color: rgba(255, 102, 0, 0.7);
  }
</style>

<section id="clock-wrapper" style={clockStyle} use:cssVars={styleVars}>
  <div class="midline" />
  <div class="out" />
  <div class="clock">
    <!-- hours 1 -->
    <div class="placeholder">
      {#if time.digit[1].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {}}>
          {time.digit[1].value}
        </span>
      {/if}
    </div>
    <!-- hours 2 -->
    <div class="placeholder">
      {#if time.digit[2].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {}}>
          {time.digit[2].value}
        </span>
      {/if}
    </div>
    {#if separatorVisible}
      <span class="separator">:</span>
    {/if}
    <!-- minutes 1 -->
    <div class="placeholder">
      {#if time.digit[3].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {}}>
          {time.digit[3].value}
        </span>
      {/if}
    </div>
    <!-- minutes 2 -->
    <div class="placeholder">
      {#if time.digit[4].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {}}>
          {time.digit[4].value}
        </span>
      {/if}
    </div>
    {#if separatorVisible}
      <span class="separator">:</span>
    {/if}
    <!-- seconds 1 -->
    <div class="placeholder">
      {#if time.digit[5].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {}}>
          {time.digit[5].value}
        </span>
      {/if}
    </div>
    <!-- seconds 2 -->
    <div class="placeholder">
      {#if time.digit[6].visible}
        <span
          in:slide={{ duration: 150, delay: 50 }}
          out:slide={{ duration: 150, delay: 650 }}
          on:introend={async () => {
            time.digit[6].visible = false;
            time.digit[5].visible = time.digit[6].value == '9' ? false : true;
            time.digit[4].visible = time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[3].visible = time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[2].visible = time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
            time.digit[1].visible = (time.digit[2].value == '9' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') || (time.digit[1].value == '2' && time.digit[2].value == '3' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') ? false : true;
          }}>
          {time.digit[6].value}
        </span>
      {/if}
    </div>
  </div>
  <div class="out" />
</section>

<!-- 6th digit: -->
<!-- on:introend={async () => {
  await timeout(100);
  time.digit[6].visible = false;
  time.digit[5].visible = time.digit[6].value == '9' ? false : true;
  time.digit[4].visible = time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[3].visible = time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[2].visible = time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9' ? false : true;
  time.digit[1].visible = (time.digit[2].value == '9' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') || (time.digit[1].value == '2' && time.digit[2].value == '3' && time.digit[3].value == '5' && time.digit[4].value == '9' && time.digit[5].value == '5' && time.digit[6].value == '9') ? false : true;
}} -->

<!-- other digits -->
<!-- on:introend={async () => {
  await timeout(100);
}} -->
