<script>
  import { prayersStore } from '../store/prayersStore';
  import { hijriDate } from '../helpers/func';
  import { convertToDuration, capitalise } from '../helpers/func';
  import { onDestroy } from 'svelte';
  import { countdownStyle, barStyle, barBgStyle } from '../config/theme';

  let duration;
  let name;
  let percentage;
  let isAfterIsha;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    isAfterIsha = value.isAfterIsha;
    duration = convertToDuration(value.countDown.duration);
    name = capitalise(value.countDown.name);
    percentage = value.percentage;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #countdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    /* height: 10%; */
    /* height: 20vh; */
    height: 7vh;
    font-size: 4vh;
    color: rgba(255, 255, 255, 0.5);
    /* border-top: 0.5vh solid rgba(255, 102, 0, 0.7); */
    padding: 0;
    /* border-top: 0.15vh solid rgba(255, 255, 255, 0.5); */

    /* background: rgba(255, 255, 255, 0.25); */
    /* border-top: 2px solid rgba(0, 0, 0, 0.25); */
  }
  .info {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    /* padding-bottom: 1vh; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vh;
    align-items: center;
  }
  .next {
    color: rgba(255, 102, 0, 0.7);
  }
</style>

<section id="countdown" style={countdownStyle}>
  <div class="info">
    <div>
      Prayer times for
      <span class="next">{isAfterIsha ? 'tomorrow' : 'today'}</span>
    </div>
    <div>
      {name}
      <span class="next">{duration}</span>
    </div>
  </div>
  <!-- <section id="barbg" style={barBgStyle} />
  <section id="bar" style={`width:${percentage}%;${barStyle}`} /> -->
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
