<script>
  import { onDestroy } from 'svelte';

  import { settingsStore } from '../store/settingsStore';
  import { updateStore } from '../store/updateStore';
  import { formatDistance } from 'date-fns';

  import { hijriDate, prependZero, hijriConvert } from '../helpers/func';
  import defsettings from '../config/settings';
  import WifiOn from '../assets/icons/wifiOn.svg';
  import WifiOff from '../assets/icons/wifiOff.svg';
  import { footerStyle } from '../config/theme';
  import Download from '../assets/icons/download.svg';
  import Refresh from '../assets/icons/refresh.svg';

  // let src = "images/background.jpg";

  // RAMADAN
  const ramadanDisp = day => {
    const result = day.ramadanCountdown ? `${day.ramadanCountdown} to Ramadan` : null;
    return result;
  };

  // TARAWEEH
  const taraweehDisp = settings => {
    const now = new Date();
    const hijri = hijriConvert(now);
    const result =
      hijri.hm === 9 ? `Taraweeh ${settings.taraweehtime[0]}:${prependZero(settings.taraweehtime[1])}` : null;

    return result;
  };

  // JUMMUAH
  const jummuahDisp = settings => {
    const result = settings.jummuahtime[0]
      ? `Jummuah ${settings.jummuahtime[0]}:${prependZero(settings.jummuahtime[1])}`
      : 0;

    return result;
  };

  // $: refreshedupd = refreshed;

  // // REFRESHDIFF
  const appRefreshed = refreshed => {
    /* eslint-disable babel/no-unused-expressions */
    // console.log("REFRESHED", update);

    let diff;
    refreshed !== '-' && refreshed > 0
      ? (diff = `${formatDistance(new Date(refreshed), new Date(), {
          includeSeconds: true,
        })} ago
    `)
      : (diff = '-');
    const result = defsettings.online ? diff : null;

    refreshed = result;
    return result;
  };

  // UPDATED
  const contentUpdated = updated => {
    // console.log("UPDATED", settings.updated);
    let result;
    if (!defsettings.online) {
      result = null;
    } else if (updated < 1514764800) {
      result = ' - ';
    } else {
      result = `${formatDistance(new Date(updated * 1000), new Date(), {
        includeSeconds: true,
      })} ago`;
    }
    return result;
  };

  // console.log(logo);

  let taraweeh;
  let jummuah;
  let updated;
  let refreshed;
  let online;
  let counter;
  let refreshedDiff;
  let updatedDiff;

  const unsubscribeSettings = settingsStore.subscribe(value => {
    // console.log(value);
    taraweeh = taraweehDisp(value);
    jummuah = jummuahDisp(value);
    updated = value.updated;
    updatedDiff = contentUpdated(value.updated);
  });
  const unsubscribeUpdate = updateStore.subscribe(value => {
    // refreshed = appRefreshed(value);
    refreshed = value.refreshed;
    refreshedDiff = appRefreshed(value.refreshed);
    // refreshedDiff = value.refreshedDiff;
    // refreshed = new Date();
    online = !!navigator.onLine;
    counter = value.counter;
  });

  const interval = setInterval(() => {
    refreshedDiff = appRefreshed(refreshed);
    updatedDiff = contentUpdated(updated);
    online = !!navigator.onLine;
  }, 1000 * 30);

  // console.log(window.navigator.onLine);
  onDestroy(unsubscribeSettings);
  onDestroy(unsubscribeUpdate);
  onDestroy(() => clearInterval(interval));

  // $: refreshedupd = refreshed;
</script>

<style>
  #footer {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 2vh;
    font-size: 2vh;
  }
  #footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 75%;
  }
  #footer > div:first-child {
    justify-content: flex-start;
    align-items: flex-start;
    /* text-align: left; */
    width: 2vh !important;
    height: 2vh !important;
  }
  #footer > div:first-child div {
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: left; */
    width: 2vh !important;
    height: 2vh !important;
  }
  #footer > div:last-child {
    display: flex;
    flex-direction: column;
    font-size: 50%;
    justify-content: center;
    align-items: flex-end;
  }

  /* :global(path) {
    fill: #333;
    fill-rule: nonzero;
  } */
  /* :global(path) {
    fill-rule: nonzero;
  }
  :global(path.off) {
    opacity: 0.25;
  } */

  /* path.off {
    opacity: 0.25;
  } */
  .updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .updates div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75%;
  }
  .updates div.icon {
    width: 1vh;
    height: 1vh;
    margin-left: 1vh;
    fill-rule: nonzero;
    /* fill: #000; */
  }
  /* :global(.icon) {
    fill: #333;
    fill-rule: nonzero;
  } */
</style>

<section id="footer" style={footerStyle}>
  <div class="wifi">
    <div>
      {#if online}
        {@html WifiOn}
      {:else}
        {@html WifiOff}
      {/if}
    </div>
  </div>

  <!-- <div>{online}</div> -->
  {#if taraweeh}
    <div>{taraweeh}</div>
  {/if}
  <div>{jummuah}</div>
  <div class="updates">
    <div>
      <div>{updatedDiff}</div>
      <div class="icon">
        {@html Download}
      </div>
    </div>
    <div>
      <div>{refreshedDiff} ({counter})</div>
      <div class="icon">
        {@html Refresh}
      </div>
    </div>
  </div>

  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>

<!-- ramadan: (state: any) => ramadanDisp(state.day),
      refresh: (state: any) => appRefreshed(state.update),
      online: (state: any) => onlineDisp(state.update.online) -->
