<script>
  import { prayersStore } from '../store/prayersStore';
  import { hijriDate, dayOfWeekName, monthName } from '../helpers/func';
  import logo from '../config/logo.svg';
  // let src = "images/background.jpg";
  import { headerStyle, logoStyle } from '../config/theme';
  import { onDestroy } from 'svelte';

  // console.log(logo);
  let date;
  let hijri;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    // console.log(value);
    date = `${dayOfWeekName(value.trueNow.getDay())}, ${value.trueNow.getDate()} ${monthName(
      value.trueNow.getMonth()
    )} ${value.trueNow.getFullYear()}`;
    hijri = hijriDate(value.trueHijri);
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 4vh;
    height: 12vh;
    width: 100%;
    text-transform: uppercase;
    /* border-bottom: 0.5vh solid rgba(255, 102, 0, 0.7); */
    background: rgba(255, 255, 255, 0.15);
  }
  .date,
  .hijri {
    /* box-sizing: content-box; */
    top: 0;
    left: 0;
    padding: 0 4vh;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
  }
  .date {
    justify-content: flex-start;
  }
  .hijri {
    justify-content: flex-end;
  } /* .hijri div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  } */
  .logo {
    justify-content: center;
    align-items: center;
    width: 7.8vh !important;
    height: 8.7vh !important;
    margin-bottom: 0.5vh;
  }
  .logo div {
    justify-content: flex-end;
    align-items: flex-end;
    width: 7.8vh !important;
    height: 8.7vh !important;
  }
</style>

<section id="header" style={headerStyle}>
  <div class="date">
    <div>{date}</div>
  </div>
  <div class="logo" style={logoStyle}>
    <div>
      {@html logo}
    </div>
  </div>
  <div class="hijri">
    <div>{hijri}</div>
  </div>
</section>
