<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { settingsStore } from '../store/settingsStore';
  import { updateStore } from '../store/updateStore';
  import { clockStyle } from '../config/theme';
  import { onDestroy } from 'svelte';
  import { hijriDate, dayOfWeekName, monthName } from '../helpers/func';
  import logo from '../config/logo.svg';
  import phone from '../assets/icons/phone.svg';

  let time;
  let title;
  let date;
  let hijri;
  let event;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = `${value.trueNow.getHours()}:${value.trueNow.getMinutes()}`;
    // title = $settingsStore.title;
    date = `${dayOfWeekName(value.trueNow.getDay())}, ${value.trueNow.getDate()} ${monthName(
      value.trueNow.getMonth()
    )} ${value.trueNow.getFullYear()}`;
    hijri = hijriDate(value.hijri);
    event = $updateStore.event;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #overlay {
    position: absolute;
    z-index: 10000;
    height: 100%;
    width: 100%;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 1);
    /* font-weight: $clock-font-weight; */
    /* font-size: $clock-font-size; */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    font-size: 2.8vh;
    fill: rgba(255, 255, 255, 0.5);
  }
  /* div.logo {
    height: 6vh;
    fill: rgba(255, 255, 255, 0.5);
    fill-rule: nonzero;
  } */
  div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    width: 100% !important;
    height: 3vh !important;
  }
  div.logo div {
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: left; */
    width: 30%;
    height: 3vh;
  }

  div {
    line-height: 1.5;
  }
  h1 {
    font-size: 4vh;
    line-height: 1.15;
    padding: 1vh 1vh;
    margin: 0;
    font-weight: 700;
  }

  .message {
    width: 60%;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .phone {
    width: 18vh;
    height: 18vh;
    margin-bottom: 2vh;
  }
</style>

<section id="overlay">
  <div class="logo">
    <div>
      {@html logo}
    </div>
  </div>
  <div>
    <h1>{event}</h1>
    <div class="calendar">
      <div class="hijri">{hijri}</div>
      <div class="date">{date}</div>
      <div class="clock">{time}</div>
    </div>
  </div>

  <div class="message">
    <div class="phone">
      {@html phone}
    </div>
    <div>PLEASE SWITCH OFF YOUR MOBILE DEVICES</div>

  </div>

  <!-- <div>{$settingsStore.jamaahoffsets[2]}</div> -->
  <!-- <div class="title">{title}</div> -->

</section>
