<script>
  import { prayersStore } from '../store/prayersStore';
  import { settingsStore } from '../store/settingsStore';
  import { hijriDate, prependZero } from '../helpers/func';
  import {
    prayersStyle,
    prayerRowStyle,
    prayerHeaderStyle,
    prayerMainStyle,
    prayerNextStyle,
    barStyle,
    barBgStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';

  // let src = "images/background.jpg";
  // console.log(logo);
  let date;
  let hijri;

  const renderPrayers = (prayersList, join) => {
    // console.log(join);
    // console.log(prayersList);
    const { next, isAfterIsha, focus } = prayersList;

    const adhan = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'after';
      } else {
        result = `${prayer.time.getHours()}:${prependZero(prayer.time.getMinutes())}`;
      }
      return result;
    };

    const iqamah = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'maghrib';
      } else if (prayer.name === 'shurooq') {
        result = '';
      } else {
        result = `${prayer.jtime.getHours()}:${prependZero(prayer.jtime.getMinutes())}`;
      }
      return result;
    };

    // console.log(prayersList);
    /* eslint-disable react/no-array-index-key */
    return prayersList.map((prayer, index) => ({
      id: index,
      name: prayer.name,
      adhan: adhan(prayer),
      iqamah: iqamah(prayer),
      isNext: prayer.isNext,
      isJamaahPending: prayer.isJamaahPending,
      hasPassed: prayer.hasPassed,
    }));
  };

  let settings;
  let prayers;
  let percentage;
  let isAfterIsha;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    // console.log(value.isAfterIsha);
    isAfterIsha = value.isAfterIsha;
    // console.log($settingsStore);
    prayers = value.isAfterIsha
      ? renderPrayers(value.prayers.tomorrow, $settingsStore.join)
      : renderPrayers(value.prayers.today, $settingsStore.join);
    percentage = value.percentage;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #prayers {
    /* height: 100%; */

    /* height: 65vh; */
    /* height: 50%; */
    /* background: rgba(255, 145, 0, 0.75); */
    font-weight: 400;
    font-size: 2.4vh;
    padding: 0 0vh;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border-top: 0.15vh solid rgba(255, 255, 255, 0.5); */
    /* border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5); */
  }

  main {
    position: relative;
    /* height: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex: 0.85;
    height: 85%; */
  }
  .prayer {
    position: relative;
    display: flex;
    padding: 1.5vh 2vh;
    margin: 0.5vh;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
  }
  .prayer div {
    width: 100%;
    text-align: center;
  }
  .prayer div:first-child {
    text-align: left;
  }

  .prayer div:last-child {
    text-align: right;
  }

  .next {
    background: rgba(255, 255, 255, 0.25);
  }
  .pending {
    color: #ff6600;
    font-weight: 700;

    /* position: relative; */
  }
  .middle {
    padding: 0 2vh;
  }
  /* .pending::before {
    position: absolute;
    content: '→';
    vertical-align: 50%;
    top: 0;
    right: 50%;
  } */
  #barbg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* display: block; */
    height: 0.5vh;
    background: rgba(0, 255, 255, 0.2);
  }
  #bar {
    position: absolute;
    display: block;
    margin: 0.5vh;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    height: 0.5vh;
    background: rgba(255, 102, 0, 0.7);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.25); */
  }
</style>

<section id="prayers" style={prayersStyle}>
  <!-- <header style={prayerHeaderStyle}>
    <div>Prayer</div>
    <div>Adhan</div>
    <div>Iqamah</div>
  </header> -->
  <main>
    {#each prayers as { id, name, adhan, iqamah, isNext, isJamaahPending, hasPassed }, i}
      <div class={isNext ? 'prayer next' : 'prayer'} style={`${prayerRowStyle}${isNext ? prayerNextStyle : ''}`}>
        <div>{name}</div>
        <div class={!isJamaahPending && isNext ? 'middle pending' : 'middle'}>
          {adhan}
          <!-- {hasPassed} -->
        </div>
        <div class={isJamaahPending && isNext ? 'pending' : ''}>
          <!-- {#if isJamaahPending && isNext}>{/if} -->
          {iqamah}
        </div>
        <section
          id="barbg"
          style={`background: ${!isNext && hasPassed && !isAfterIsha ? 'rgba(255, 102, 0, 0.5)' : 'rgba(255, 102, 0, 0)'}${barBgStyle ? barBgStyle : ''}`} />
        <section id="bar" style={`width:${isNext ? percentage : '0'}%;${barStyle ? barStyle : ''}`} />
      </div>
    {/each}

  </main>
</section>
