<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { backgroundColor, clockStyle, logoStyle } from '../config/theme';
  import { onDestroy } from 'svelte';
  import { hijriDate, prependZero } from '../helpers/func';
  import { slide, fade } from 'svelte/transition'; //fly
  import cssVars from 'svelte-css-vars';

  // $: styleVars = {
  //   backgroundColor,
  //   color1: '#ff6600',
  //   color2: '#ff66ff',
  // };
  let color1 = '#9b4c3c';
  let color2 = '#404066';

  let time;
  let date;
  let hijri;
  let seconds;
  let separatorVisible;
  let frameColor = color1;
  let frameColorAlt;
  let frameVisible;

  const colorSwitch = value => {
    if (value == color1) return color2;
    else return color1;
  };

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = {
      full: value.now,
      digit: {
        1: { value: prependZero(value ? value.trueNow.getHours() : '00')[0], visible: true },
        2: { value: prependZero(value ? value.trueNow.getHours() : '00')[1], visible: true },
        3: { value: prependZero(value ? value.trueNow.getMinutes() : '00')[0], visible: true },
        4: { value: prependZero(value ? value.trueNow.getMinutes() : '00')[1], visible: true },
        5: { value: prependZero(value ? value.trueNow.getSeconds() : '00')[0], visible: true },
        6: { value: prependZero(value ? value.trueNow.getSeconds() : '00')[1], visible: true },
      },
    };
    seconds = value.trueNow.getSeconds();
    frameColor = seconds == 1 ? colorSwitch(frameColor) : frameColor;
    frameColorAlt = frameColor == color1 ? color2 : color1;
    frameVisible = true;
    seconds = seconds == 0 ? 60 : seconds;
  });

  frameVisible = false;

  $: styleVars = {
    backgroundColor,
    frameColor,
    frameColorAlt,
  };

  function timeout(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  onMount(async () => {
    await timeout(1000);
    // separatorVisible = true;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #seconds {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.25); */
  }
  .quadrant-1-top {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 1vh;
    transition: width 0.5s;
    background: var(--frameColorAlt);
  }
  .quadrant-1-right {
    position: absolute;
    right: 0%;
    top: 0;
    width: 1.05vh;
    height: 50%;
    transition: height 0.5s;
    background: var(--frameColorAlt);
  }
  .quadrant-2-right {
    position: absolute;
    right: 0%;
    top: 50%;
    width: 1.05vh;
    height: 50%;
    transition: height 0.5s;
    background: var(--frameColorAlt);
  }
  .quadrant-2-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    transition: width 0.5s;
    height: 1vh;
    background: var(--frameColorAlt);
  }
  .quadrant-3-bottom {
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 50%;
    transition: width 0.5s;
    height: 1vh;
    background: var(--frameColorAlt);
  }
  .quadrant-3-left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    transition: height 0.5s;
    width: 1.05vh;
    background: var(--frameColorAlt);
  }
  .quadrant-4-left {
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 50%;
    transition: height 0.5s;
    width: 1.05vh;
    background: var(--frameColorAlt);
  }
  .quadrant-4-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    transition: width 0.5s;
    height: 1vh;
    background: var(--frameColorAlt);
  }
  .frame {
    background: var(--frameColor);
  }
</style>

<section id="seconds" use:cssVars={styleVars}>
  <!-- frame -->
  <div class="quadrant-1-top frame" style={`background:${seconds == 60 ? frameColorAlt : ''}`} />

  <div class="quadrant-1-right frame" />
  <div class="quadrant-2-right frame" />
  <div class="quadrant-2-bottom frame" />
  <div class="quadrant-3-bottom frame" />
  <div class="quadrant-3-left frame" />
  <div class="quadrant-4-left frame" />
  <div class="quadrant-4-top frame" />

  <!-- ticking -->
  <!-- {#if frameVisible}
    <div
      class="quadrant-1-top"
      style={`width:${seconds < 7.5 ? (seconds / 15) * 100 : 50}%`}
      in:slide={{ duration: 350, delay: 50 }}
      on:introend={async () => {
        frameVisible = false;
      }} />
  {/if} -->
  <div
    class="quadrant-1-top"
    style={`width:${seconds > 59 ? 0 : seconds < 7.5 ? (seconds / 15) * 100 : 50}%;${seconds == 60 ? 'transition-property: none' : ''}`} />
  <div
    class="quadrant-1-right"
    style={`height:${seconds >= 7.5 && seconds < 15 ? ((seconds - 7.5) / 15) * 100 : seconds < 15 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''};${seconds == 8 ? 'transition-delay: .35s' : ''}`} />
  <div
    class="quadrant-2-right"
    style={`height:${seconds >= 15 && seconds < 22.5 ? ((seconds - 15) / 15) * 100 : seconds < 22.5 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''}`} />
  <div
    class="quadrant-2-bottom"
    style={`width:${seconds >= 22.5 && seconds < 30 ? ((seconds - 22.5) / 15) * 100 : seconds < 30 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''};${seconds == 23 ? 'transition-delay: .25s' : ''}`} />
  <div
    class="quadrant-3-bottom"
    style={`width:${seconds >= 30 && seconds < 37.5 ? ((seconds - 30) / 15) * 100 : seconds < 37.5 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''}`} />
  <div
    class="quadrant-3-left"
    style={`height:${seconds >= 37.5 && seconds < 45 ? ((seconds - 37.5) / 15) * 100 : seconds < 45 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''};${seconds == 38 ? 'transition-delay: .35s' : ''}`} />
  <div
    class="quadrant-4-left"
    style={`height:${seconds >= 45 && seconds < 52.5 ? ((seconds - 45) / 15) * 100 : seconds < 52.5 ? 0 : 50}%;${seconds == 1 ? 'transition-property: none' : ''}`} />
  <div
    class="quadrant-4-top"
    style={`width:${seconds >= 52.5 || seconds == 0 ? ((seconds - 52.5) / 15) * 100 : seconds >= 0 && seconds < 52.5 ? 0 : 50}%;${seconds > 0 && seconds < 52.5 ? 'transition-property: none' : ''};${seconds == 53 ? 'transition-delay: .25s' : ''}`} />

  <!-- <div>{seconds}</div> -->
  <!-- <div>main {frameColor}</div> -->
  <!-- <div>alt {frameColorAlt}</div> -->
  <!-- <div>{frameVisible}</div> -->
</section>
