<script>
  // export let name;
  import { onDestroy } from 'svelte';

  import Header from './components/Header.svelte';
  import Clock from './components/Clock.svelte';
  import Prayers from './components/Prayers.svelte';
  // import Message from './components/Message.svelte';
  import Countdown from './components/Countdown.svelte';
  import Footer from './components/Footer.svelte';
  // import Overlay from './components/Overlay.svelte';
  // import bg from './config/bg.png';
  import { appStyle } from './config/theme';
  import { updateStore } from './store/updateStore';

  let event;

  const unsubscribeUpdate = updateStore.subscribe(value => {
    event = value.event;
  });

  onDestroy(unsubscribeUpdate);
  // console.log(bg);
</script>

<!-- <style>
  h1 {
    color: purple;
  }
</style> -->

<!-- <style global lang="sass"> -->
<style>
/* h1 {
  color: #ccc;
} */
#info {
  position: fixed;
  bottom: 0;
  /* height: 100%; */
  width: 100%;
  /* max-width: 1080px; */
  /* padding: 0 1vh; */
  margin: 0 auto;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: flex-end;
  z-index: 5;
  /* align-items: center; */
}
#app {
  color: #333;
  background-color: #bdb;
  width: 100%;
  height: 100%;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>  

  <!-- background-image: url('./config/bg.png'); -->

<div id="app" style={appStyle}>
  <Header />
  <Clock />

  <section id="info">
    <Countdown />

    <Prayers />
    <!-- <Message /> -->
  </section>
  <!-- <Footer /> -->
</div>
<!-- div Overlay(v-if="overlay") -->
