@import url('./fonts/open-sans.css');
/* @import url('./fonts/cairo.css'); */
/* @import url('./fonts/ubuntu-mono.css'); */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  overflow: hidden;

  background: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
path {
  fill-rule: nonzero;
}
path.off {
  opacity: 0.25;
}
